@using Microsoft.AspNetCore.Http
@using BandWeb.Models;
@model BandWeb.Models.ViewModels.ArtistDetailViewModel;
@{
    ViewData["Title"] = "Detail";
}
<h2>Detail</h2>
<div class="col-sm-5">
    <div class="adverContainer">
        <h2>Artist</h2>
        <div class="info">
            <p><b>id:</b> @Model.Artist[0].id</p>
            <p><b>Name:</b> @Model.Artist[0].name</p>
            <p><b>Description:</b> @Model.Artist[0].description</p>
            <p><b>Listeners:</b> @Model.Artist[0].listeners</p>
        </div>
    </div>
</div>