@{
    ViewData["Title"] = "Index";
}
@using BandWeb.Models
@{
    ViewData["Title"] = "Home";
}
<h1> BandWeb</h1>
<a class="a-iconhover" asp-controller="Artist" asp-action="ArtistList">Artist List</a>
<a href="/Artist/ArtistList">ArtistList</a>